.projects-container {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    width: 60%;
}

h1 {
    text-align: center;
}

// body {
//     background: rgb(125, 137, 181);
//     background: linear-gradient(180deg, rgba(125, 137, 181, 1) 0%, rgba(38, 38, 60, 1) 98%, rgba(51, 51, 51, 1) 100%);
// }